body{
    background-color: #f9F9F9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
#Elements{
    width: 120px;
    height: auto;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.canvas{
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display:none;
}

video{
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    margin: 40px 0;
}

button{
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: #EAD2FF;
    font-weight: bold;
}

#results{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 10px;
    border-radius: 5px;
}

@media screen and (max-width: 1300px){
    .container{
        flex-direction: column;
    }
    #results{
        top: 516px;
    }
}